body {
    background-color: #151515;
    background-image: url('./img/bg.jpg');
    margin: 0 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  
  h2 {
    color: #fff;
    margin: 0;
    text-align: center;
  }
  
  p {
    color: #fff;
    margin: 0;
  }
  
  a {
    color: #fff;
  }
  
 .main {
    min-width: 640px;
    max-width: 1080px;
    margin: 100px auto 32px auto;
    padding: 16px;
    background-color:rgba(0, 129, 47, 0.863);
  }

  .main p {
    text-align: left;
    padding: 8px 0;
  }

  .PasswordField {
    margin-top: 20px;
    display:flex;
    justify-content: center;
  }

.input {
    text-align: center;
}

.inputCheck {
    background-color: #fff0;
    color:#fff;
    border: none;
    font-size: 24px;
}

#welcomeDiv {
    margin-top: 20px;
}

.answer_list, .answer_list p {
    text-align: center;
}